html {
  color: black;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container-all {
  text-align: center;
  position: relative;
}

.container-nav {
  text-align: center;
  padding: 15px;
}

.nav-item {
  display: inline-block;
  padding: 0px 10%;
}

.header-img {
  width: 80%;
  max-width: 312px;
  height: auto;
  padding: 20px 0px;
}

.container-landing {
  text-align: center;
  position: absolute;
  background-image: url("img/jumbotron_bg.png");
  margin: auto;
  width: 100%;
  height: 766px;
  max-width: 1280px;
  transition: opacity 1s ease, transform 3s ease;
}

.jumbotron-logo {
  display: block;
  background-image: url("img/bearfoot_collective_jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 170px;
  margin: auto;
  height: 541px;
  width: 80%;
  max-width: 541px;
}

.transition-out {
  opacity: 0;
  transform: scaleY(0);
}
